{% extends "template.html" %}

{% block content %}
<h1>Create a new paste </h1>
<form action="/createnewpaste/" class="" method="post">
    <textarea name="textarea" rows="10" cols="80" placeholder="Put your text here"></textarea><br>
    <input type="submit" name="" class="btn btn-success" value="submit paste">
</form>
{% if url %}
<p>the link is {{url}}</p>
{% endif %}
<h1>find paste</h1>
<form action="/findpaste/"  method="post">
    <input type="text" name="name" value="" placeholder="url for the paste"><br><br>
    <input type="submit"  class="btn btn-success" value="find paste">
</form><br><br><br><br>
<p>{{text}}</p>



{% endblock %}
